### A/B Testing

Bike dataset has the information about the weather that is stored in columns such as weather, temp, atemp, humidity, windspeed. Create a notebook where you perfom a hypothesis testing that checks if there is a significant difference between two of the temperature columns: temp and atemp. Use the scipy.stats and t-test statistics.

In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('../data/bike_dataset_new.csv',parse_dates=['datetime'])
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour,month,weekday,day,year,part_of_day
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16,0,1,5,1,2011,morning
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40,1,1,5,1,2011,morning
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32,2,1,5,1,2011,morning
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13,3,1,5,1,2011,morning
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1,4,1,5,1,2011,morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,156,19,12,0,31,2012,evening
17375,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,104,20,12,0,31,2012,evening
17376,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,67,21,12,0,31,2012,night
17377,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,43,22,12,0,31,2012,night
17378,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,28,23,12,0,31,2012,night

In [3]:
temp = df["temp"]
atemp = df["atemp"]

In [4]:
test_statistic, pvalue = stats.ttest_ind(temp, atemp)
print ('test_statistic = ', test_statistic)
print ('pvalue = ', pvalue)

test_statistic =  -38.550838713271254
pvalue =  0.0

In [5]:
alpha = 0.05 
#significance value: 5% of the times we will be able to reject the null hypothesis and 95% we will not

In [6]:
if pvalue < alpha:
    print('The H0 is rejected and there is a difference between temp and atemp')
else:
    print('Failed to reject H0 and there is no difference between temp and atemp')

The H0 is rejected and there is a difference between temp and atemp